.git
.gitignore
.dockerignore
log/*
tmp/*
!log/.keep
!tmp/.keep
node_modules/
public/packs/
public/packs-test/
.bundle
config/master.key
config/credentials/*.key
coverage/
.byebug_history
storage/*
!storage/.keep
*.sqlite3
*.sqlite3-journal
