.card-frontend {
  width: 550px;
  height:auto;
  background-color: $color1;
  border: none;
  transition: 0.5s;
  margin: 100px 0;
}

.image-frontend img {
  transition: 0.5s;
  width: 135px;
  height: 135px;
  margin-top: 30px;
}

.card-frontend:hover .image-frontend img {
  transform: scale(1.2);
}


.name-frontend {
  font-size: 50px;
  font-weight: bold
}

.infos-frontend p {
  font-size: 30px;
}

#titlefrontend{
  color: #F5F5F5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}
