
.banner {
  background: image-url('banner.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  padding: 280px 0 385px 0;
  position: relative;

}

.banner h1 {
  margin: 0;
  color: #F5F5F5;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #FFFFFF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 57px 0 90px 0;
}

.card-product-home {
  overflow: hidden;
  height: 100vh;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  background-color: #161930;
  margin: 40px auto;
}

.card-product-home img {
  width: 350px;
  object-fit: cover;
}

.card-product-home h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-product-home p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
}

.card-product-infos-home  {
  h2 {font-size: 48px;
    color: #F5F5F5;
  }
  p{
    font-size: 20px;
  }
}

.btn-flat {
  color: $color5;
  padding: 8px 24px;
  background: #383E60;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #383E60;
  color: $color5;
}

@media (max-width: 575px){
  .main-black .black-wizard{
    font-size: 15px;
    padding: 14px 50px 14px 50px;
  }
}
