.card-profile {
  width: 500px;
  background-color: $color1;
  border: none;
  transition: 0.5s;
  margin: 100px 0;
}

.image-profile img {
  // transition: 0.5s;
  // width: 135px;
  // height: 135px;
  // border-radius: 50%;
  // margin-top: 30px;
}

.card-profile:hover .image-profile img {
  // transform: scale(1.2);
}


.house {
  width: 40px;
  position: absolute;
  top: 135px;
  left: 170px;
}
.date-profile {
  background-color: #ccc;
}

/*
* VARIABLES
*/

// sizes
$avatarSize: 200px;
$borderWidth: 5px;
$paddingSize: 20px;

// some calculations
$translateValue: -$paddingSize - $borderWidth;

/*
* MAIN CONTENT
*/

.avatarp {
  box-sizing: border-box;
	height: $avatarSize;
	border-radius: 50%;
	position: relative;
	width: $avatarSize;

	&__image {
    width: 100%;
		border-radius: 50%;
	}

	&::before,
	&::after {
    border: $borderWidth solid transparent;
		border-radius: 50%;
		border-top: $borderWidth solid $color5;
		content:"";
		display: block;
		height: calc(100% + 10px);
		left: 50%;
		width: calc(100% + 10px);
		position: absolute;
	}

	&::before {
    top: -2 * $borderWidth;
		transform: translateX(-50%);
	}

	&::after {
    bottom: -2 * $borderWidth;
		transform: translateX(-50%) rotate(180deg);
	}
}

// ERICK


.profile-pic {
  box-sizing: border-box;
	width: 150px;
	border-radius: 50%;
  display: block;
  margin: 0 auto;
	position: relative;
  z-index: 10;

	&__image {
    width: 100%;
		border-radius: 50%;
	}

	&::before,
	&::after {
    border: $borderWidth solid transparent;
		border-radius: 50%;
		border-top: $borderWidth solid $color5;
		content:"";
		display: block;
		height: calc(100% + 10px);
		left: 50%;
		width: calc(100% + 10px);
		position: absolute;
	}

	&::before {
    top: -2 * $borderWidth;
		transform: translateX(-50%);
	}

	&::after {
    bottom: -2 * $borderWidth;
		transform: translateX(-50%) rotate(180deg);
	}
}

$svg-green: invert(47%) sepia(16%) saturate(1394%) hue-rotate(58deg) brightness(96%) contrast(90%);
$svg-blue: invert(53%) sepia(87%) saturate(2565%) hue-rotate(195deg) brightness(88%) contrast(82%);
$svg-yellow: invert(60%) sepia(95%) saturate(405%) hue-rotate(7deg) brightness(98%) contrast(109%);
$svg-red: invert(17%) sepia(78%) saturate(5075%) hue-rotate(27deg) brightness(95%) contrast(101%);

.house-flag-datascience {
  filter: #{$svg-blue} drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
  width: 200px;
  padding: 0 0 0 5px;
  margin: -80px auto 0;
}

.house-flag-gamedev {
  filter: #{$svg-green} drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
  width: 200px;
  padding-left: 5px;
  margin: 0 auto;
  position: absolute;
}

.house-flag-frontend {
  filter: #{$svg-red} drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
  width: 200px;
  padding: 0 0 0 5px;
  margin: -80px auto 0;
}

.house-flag-backend {
  filter: #{$svg-yellow} drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
  width: 200px;
  padding: 0 0 0 5px;
  margin: -80px auto 0;
}

.name-profile {
  font-size: 22px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.join-date {
  font-size: 14px;
  text-align: center;
  display: block;
}

.edit-profile-btn {
  display: block;
  background: #383E60;
  text-decoration: none;
  color: #E8DEB9;
  text-align: center;
  padding: 10px 15px;

  &:hover {
    color: #fff;
  }

}

.gamepad {
  width: 80px;
  display: block;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
}

.column-1 {
  padding: 40px 20px;
}
.column-2 {
  padding: 40px 50px;
}

.house-flag-container-green {
  position: relative;
  margin-top: -50px;
  min-width: 200px;
  height: 200px;
  background-image: url("/assets/house-flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .house-flag-color {
    filter: $svg-green;
  }
}