.card-profile {
  width: 500px;
  background-color: $color1;
  border: none;
  transition: 0.5s;
  margin: 100px 0;
}

.image-profile img {
  // transition: 0.5s;
  // width: 135px;
  // height: 135px;
  // border-radius: 50%;
  // margin-top: 30px;
}

.card-profile:hover .image-profile img {
  // transform: scale(1.2);
}

.name-profile {
  font-size: 22px;
  font-weight: bold
}


.date-profile {
  background-color: #ccc
}

.house {
  width: 40px;
  position: absolute;
  top: 135px;
  left: 170px;
}

.house:hover .text-house {
  display: block;
  color: wheat;
}

.text-house {
  display: none;
}

/*
 * VARIABLES
 */

// sizes
$avatarSize: 200px;
$borderWidth: 5px;
$paddingSize: 20px;

// some calculations
$translateValue: -$paddingSize - $borderWidth;

/*
 * MAIN CONTENT
 */

.avatarp {
	box-sizing: border-box;
	height: $avatarSize;
	border-radius: 50%;
	position: relative;
	width: $avatarSize;

	&__image {
		width: 100%;
		border-radius: 50%;
	}

	&::before,
	&::after {
		border: $borderWidth solid transparent;
		border-radius: 50%;
		border-top: $borderWidth solid $color5;
		content:"";
		display: block;
		height: calc(100% + 10px);
		left: 50%;
		width: calc(100% + 10px);
		position: absolute;
	}

	&::before {
		top: -2 * $borderWidth;
		transform: translateX(-50%);
	}

	&::after {
		bottom: -2 * $borderWidth;
		transform: translateX(-50%) rotate(180deg);
	}
}
