.question-container {
  background-color: $color5;
  width: 70%;
  min-height: 500px;
  h3 {
    color: #383E60;
    font-family: $main-font;
    font-weight: bold;
  }
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(600px);
  height: 500px;
  margin: 0 auto;
}

.container-range {
  width: 80%;
  p {
    font-family: Georama;
    color: #383E60;
    font-weight: bold;
    font-size: 14px;
  }
}

#custom-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #5F465C;
  border: 4px solid #8A626B;
}

#custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5F465C;
  border: 4px solid #8A626B;
}

#custom-range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #5F465C;
  border: 4px solid #8A626B;
}

.slider::-webkit-slider-runnable-track {
  background-color: #5F465C;
}
