<div class="container mb-5">
  <div class="house-header">
  </div>
  <div class="house-container d-flex p-3">
    <div class="column-1 w-25 p-3">
    <%= image_tag @house.image, class: "house-shield" %>
    <p class="text-center mt-3">
      <i class="devicon-javascript-plain h3"></i>
      <i class="devicon-ruby-plain h3 px-2"></i>
      <i class="devicon-python-plain h3"></i>
    </p>
    </div>
    <div class="column-2 w-75 p-3">
      <div class="house-title">
        <% if current_user.house == @house %>
        <span style="font-size: 20px">Sua casa é</span>
        <% end %>
        <h1><%= @house.name %></h1>
        <% if current_user.house == @house %>
        <%= "Você tem #{@result}% de afinidade com esta casa." %>
        <% end %>
      </div>
      <hr>
      <div class="house-info mt-3">
        <p>O Back-End fica responsável pelos bastidores de uma aplicação, ou seja, os códigos que permitem a parte visual funcionar corretamente.
É esse profissional que faz a ponte entre o banco de dados e as informações do navegador, de acordo com as regras de negócio em questão.
Elas possibilitam o bom funcionamento dos servidores, a segurança dos dados e, no fim das contas, a experiência do usuário também.
Afinal, não adianta ter um layout lindo e funcional se o link da página quebra no primeiro clique, concorda?</p>
        <br>
        <h4>Por onde começar?</h4>
        <p>A melhor maneira de começar o caminho para se tornar um desenvolvedor backend é aprender uma linguagem de programação ou de script.
         Python, JavaScript,Ruby, SQL e PHP são todas habilidades que você verá em muitas postagens de trabalho de desenvolvedor backend.</p>
        <h5>JavaScript</h5>
        <p>É uma linguagem de programação que permite a você criar conteúdo que se atualiza dinamicamente, controlar múltimídias, imagens animadas, e tudo o mais que há de intessante.</p>
        <h5>Ruby</h5>
        <p>É uma linguagem de programação interpretada multiparadigma, de tipagem dinâmica e forte, com gerenciamento de memória automático, também é uma linguagem de código aberto, como PHP,
         o que significa que é gratuito para baixar e usar. Ele pode ser compilado e executado em praticamente qualquer sistema operacional, incluindo Unix, Windows e Mac OS X.</p>
        <h5>Python</h5>
        <p>Python é uma linguagem Open-Source de propósito geral usado bastante em data science, machine learning, desenvolvimento de web, desenvolvimento de aplicativos, automação de scripts, fintechs e mais.</p>
      </div>
    </div>
  </div>
</div>
