<div class="login screen d-flex align-items-center">
  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="row">
      <div class="card-frontend p-4 ">
        <div class=" image-frontend d-flex flex-column justify-content-center align-items-center">

          <%= image_tag @house.image %>
          <!-- <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /> -->
          </button>
          <span id="title-front" class=" mt-3"><%= @house.name.capitalize %></span>

          <div class=" d-flex flex-column mt-2 ">
            <%# description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
