<div class="main-container mb-5">
  <div class="house-header">
  </div>
  <div class="house-container d-flex p-3">
    <div class="column-1 w-25 p-3">
    <%= image_tag @house.image, class: "house-shield" %>
    <p class="text-center mt-3">
      <i class="devicon-python-plain h3"></i>
      <i class="devicon-r-plain h3 px-2"></i>
      <i class="devicon-java-plain h3"></i>
    </p>
    </div>
    <div class="column-2 w-75 p-3">
      <div class="house-title">
        <% if current_user.house == @house %>
        <span style="font-size: 20px">Sua casa é</span>
        <% end %>
        <h1><%= @house.name %></h1>
        <% if current_user.house == @house %>
          <%= "Você tem #{@result}% de afinidade com esta casa." %>
        <% end %>
      </div>
      <hr>
      <div class="house-info mt-3">
        <p>Data Science é o estudo disciplinado dos dados e informações inerentes ao negócio e todas as visões que podem cercar um determinado assunto.
É uma ciência que estuda as informações, seu processo de captura, transformação, geração e posteriormente, análise de dados.
A ciência de dados envolve diversas disciplinas: Computação, estatística, matemática e conhecimento do negócio em questão.
Data Scientist ou Cientista de Dados:
 é um profissional multidisciplinar, responsável por realizar o processo citado no tópico Data Science acima. Ou seja,
é responsável por transformar dados em informações ou produtos de informações dentro de uma corporação.
Além disso, ele também deve ser responsável pela formulação dos problemas, escolha de modelos de simulação e estatística e entrega dos produtos de dados.

</p>
        <br>
        <h4>Por onde começar?</h4>
        <p>Não existe uma formação que prepare Cientistas de Dados, pois esta é uma função relativamente nova.
Tem havido muito debate sobre isso no ambiente acadêmico (principalmente nos EUA), pois o mercado precisa de profissionais agora e o tempo de preparação de um profissional com estas habilidades,
pode levar algum tempo. E por isso formações técnicas em determinadas áreas, podem ajudar a preparar estes profissionais. Ter um bom pensamento lógico, habilidade com números e um conhecimento em
banco de dados.</p>
        <h5>Python</h5>
        <p>Python é uma linguagem Open-Source de propósito geral usado bastante em data science, machine learning, desenvolvimento de web, desenvolvimento de aplicativos, automação de scripts, fintechs e mais.</p>
        <h5>React</h5>
        <p>React é uma biblioteca criada para construir telas de forma declarativa.
         Ou seja: o React cria aplicações web para serem executadas em navegadores, sejam eles para desktop, mobile ou qualquer outro dispositivo.</p>
        <h5>Java</h5>
        <p>O Java é uma linguagem de programação orientada a objetos que atualmente faz parte do núcleo da Plataforma Java.
O desenvolvedor é responsável por modelar o papel desempenhado pelos objetos e a interação entre eles. Por exemplo,
em um sistema desenvolvido para uma padaria, existiriam objetos do tipo "Cliente" e objetos que simulam as ações que um cliente pode realizar.</p>
      </div>
    </div>
  </div>
</div>
