<div class="container mb-5">
  <div class="house-header">
  </div>
  <div class="house-container d-flex p-3">
    <div class="column-1 w-25 p-3">
    <%= image_tag @house.image, class: "house-shield" %>
    <p class="text-center mt-3">
      <i class="devicon-css3-plain h3"></i>
      <i class="devicon-javascript-plain h3 px-2"></i>
      <i class="devicon-csharp-plain h3"></i>
    </p>
    </div>
    <div class="column-2 w-75 p-3">
      <div class="house-title">
        <span style="font-size: 20px">Sua casa é</span>
        <h1><%= @house.name %></h1>
        <% if current_user.house == @house %>
        <%= "Você tem #{@result}% de afinidade com esta casa." %>
        <% end %>
      </div>
      <hr>
      <div class="house-info mt-3">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        <br>
        <h4>Por onde começar?</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        <h5>CSS</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        <h5>Javascript</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        <h5>React</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
  </div>
</div>
