<div class="container mb-5">
  <div class="house-header">
  </div>
  <div class="house-container d-flex p-3">
    <div class="column-1 w-25 p-3">
    <%= image_tag @house.image, class: "house-shield" %>
    <p class="text-center mt-3">
      <i class="devicon-css3-plain h3"></i>
      <i class="devicon-javascript-plain h3 px-2"></i>
      <i class="devicon-csharp-plain h3"></i>
    </p>
    </div>
    <div class="column-2 w-75 p-3">
      <div class="house-title">
        <% if current_user.house == @house %>
        <span style="font-size: 20px">Sua casa é</span>
        <% end %>
        <h1><%= @house.name %></h1>
        <% if current_user.house == @house %>
        <%= "Você tem #{@result}% de afinidade com esta casa." %>
        <% end %>
      </div>
      <hr>
      <div class="house-info mt-3">
        <p>Front-End é tudo que envolve a parte visível de um site ou aplicação, com a qual os usuários podem interagir.
Essa interface gráfica é desenvolvida a partir de linguagens como JavaScript, HTML e CSS, que são as técnicas de base do desenvolvimento
web. O profissional produz códigos para trazer agilidade e responsividade ao produto. Afinal, as pessoas vão acessá-lo de diferentes
tamanhos de tela, e ele precisa funcionar bem em todas.
Como estamos na era da experiência do usuário, todos os elementos do Front-End devem ser pensados para uma navegação mais simples,
fluida e sem complicações. As interações que precisam de um passo a passo para explicar como funcionam já não têm espaço nesse mercado.
É por isso que o profissional deve ter noções de design e de usabilidade, pensando pela ótica do cliente final.</p>
        <br>
        <h4>Por onde começar?</h4>
        <p>Se você quer ingressar nesta área a primeira coisa que precisa fazer é esclarecer alguns pré-conceitos. Um deles é de que desenvolvedor front-end não mexe com
design e designer não entende de lógica de programação. O ideal é que esses profissionais procurem entender e desenvolver novos conhecimentos a fim de aprimorar suas atividades.
É natural que um desenvolvedor não tenha total domínio sobre design, mas ao menos precisa conhecer o básico sobre legibilidade e usabilidade de sites.
Assim como o web designer precisa entender como funciona o back-end de um site e compreender lógica de programação.</p>
        <h5>CSS</h5>
        <p>Trata-se de uma linguagem de marcação, amplamente utilizada com HTML ou XHTML, e representa diversas possibilidades para a formatação.
         O CSS ajuda a editar, alinhar, remover e trabalhar no espaço entre elementos de uma página.</p>
        <h5>Javascript</h5>
        <p>É uma linguagem de programação que permite a você criar conteúdo que se atualiza dinamicamente, controlar múltimídias, imagens animadas, e tudo o mais que há de intessante.</p>
        <h5>React</h5>
        <p>React é uma biblioteca criada para construir telas de forma declarativa.
         Ou seja: o React cria aplicações web para serem executadas em navegadores, sejam eles para desktop, mobile ou qualquer outro dispositivo.</p>
      </div>
    </div>
  </div>
</div>
