<div class="login screen d-flex align-items-center">
  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="row">
      <div class="card-frontend p-4 ">
        <div class=" image-house d-flex flex-column justify-content-center align-items-center">

          <%= image_tag @house.image %>
          <!-- <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /> -->
          </button>
          <span id="title-front" class=" mt-3"><%= @house.name.capitalize %></span>

          <div class=" d-flex flex-column mt-2 ">
            <h4>O que é <strong><%= @house.name %></strong>?</h4>
            <p>Front-End é tudo que envolve a parte visível de um site ou aplicação, com a qual os usuários podem interagir.</p>
            <p>Essa interface gráfica é desenvolvida a partir de linguagens como JavaScript, HTML e CSS, que são as técnicas de base do desenvolvimento web. O profissional produz códigos para trazer agilidade e responsividade ao produto. Afinal, as pessoas vão acessá-lo de diferentes tamanhos de tela, e ele precisa funcionar bem em todas.</p>
            <p>Como estamos na era da experiência do usuário, todos os elementos do Front-End devem ser pensados para uma navegação mais simples, fluida e sem complicações. As interações que precisam de um passo a passo para explicar como funcionam já não têm espaço nesse mercado. É por isso que o profissional deve ter noções de design e de usabilidade, pensando pela ótica do cliente final. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
