<div class="login screen d-flex align-items-center">
  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="row">
      <div class="card-frontend p-4 ">
        <div class=" image-house d-flex flex-column justify-content-center align-items-center">

          <%= image_tag @house.image %>
          <!-- <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /> -->
          </button>
          <span id="title-front" class=" mt-3"><%= @house.name.capitalize %></span>

          <div class=" d-flex flex-column mt-2 ">
            <p>A área de desenvolvimento de jogos eletrônicos está ganhando espaço no país, já que o mercado de games cresce a cada ano. Logo, as oportunidades nesse meio estão aumentando gradualmente. Se você pretende ser um game designer, o primeiro passo é entender melhor o que faz esse profissional. A responsabilidade dele é realizar todo o planejamento de interface, enredo, mecânicas e interatividade do jogo. Ou seja, ele deve pensar em como o jogo pode ficar mais divertido e interessante para o público-alvo. Assim, surgem diversas funções que o designer de games pode cumprir dentro do game, como ser o esigner chefe, que é responsável por coordenar toda a equipe e desenvolver o conceito do jogo para que todo o time esteja alinhado. Designer de fase e redator, O designer de fases é responsável por equilibrar as fases, desafios e missões do jogo. Por exemplo, a quantidade de bônus, vida, dano e pontuação dentro dela.</p>
            <p>Ele é muito importante, porque, se uma etapa do game está em um dos dois extremos de dificuldade (muito fácil ou muito difícil), o jogador pode perder o interesse muito rapidamente, afetando diretamente o sucesso do produto.</p>
            <p>Por fim, o redator é o responsável pela narrativa do game. Além de pensar na história de forma geral, ele também precisa elaborar diálogos, cenas, dicas, tutoriais e até mesmo qualquer tipo de interação que o jogador necessite fazer ao longo do percurso,  de forma que fique coerente com o que está sendo contado.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
