<div class="container mb-5">
  <div class="house-header">
  </div>
  <div class="house-container d-flex p-3">
    <div class="column-1 w-25 p-3">
    <%= image_tag @house.image, class: "house-shield" %>
    <p class="text-center mt-3">
      <i class="devicon-javascript-plain h3"></i>
      <i class="devicon-cplusplus-plain h3 px-2"></i>
      <i class="devicon-csharp-plain h3"></i>
    </p>
    </div>
    <div class="column-2 w-75 p-3">
      <div class="house-title">
        <% if current_user.house == @house %>
        <span style="font-size: 20px">Sua casa é</span>
        <% end %>
        <h1><%= @house.name %></h1>
        <% if current_user.house == @house %>
        <%= "Você tem #{@result}% de afinidade com esta casa." %>
        <% end %>
      </div>
      <hr>
      <div class="house-info mt-3">
        <p>A área de desenvolvimento de jogos eletrônicos está ganhando espaço no país, já que o mercado de games cresce a cada ano. Logo,
as oportunidades nesse meio estão aumentando gradualmente. Se você pretende ser um game designer, o primeiro passo é entender melhor
o que faz esse profissional. A responsabilidade dele é realizar todo o planejamento de interface, enredo, mecânicas e interatividade
do jogo. Ou seja, ele deve pensar em como o jogo pode ficar mais divertido e interessante para o público-alvo. Assim, surgem diversas
funções que o designer de games pode cumprir dentro do game, como ser o designer chefe, que é responsável por coordenar toda a equipe
e desenvolver o conceito do jogo para que todo o time esteja alinhado. Designer de fase e redator, O designer de fases é responsável
por equilibrar as fases, desafios e missões do jogo. Por exemplo, a quantidade de bônus, vida, dano e pontuação dentro dela.
Ele é muito importante, porque, se uma etapa do game está em um dos dois extremos de dificuldade (muito fácil ou muito difícil),
o jogador pode perder o interesse muito rapidamente, afetando diretamente o sucesso do produto.
Por fim, o redator é o responsável pela narrativa do game. Além de pensar na história de forma geral, ele também precisa elaborar
diálogos, cenas, dicas, tutoriais e até mesmo qualquer tipo de interação que o jogador necessite fazer ao longo do percurso,
de forma que fique coerente com o que está sendo contado.</p>
        <br>
        <h4>Por onde começar?</h4>
        <p>Para começar a carreira em desenvolvimento de jogos, o principal passo é encontrar um curso de programação alinhado com as suas necessidades e o seu perfil.</p>
        <h5>JavaScript</h5>
        <p>É uma linguagem de programação que permite a você criar conteúdo que se atualiza dinamicamente, controlar múltimídias, imagens animadas, e tudo o mais que há de intessante.</p>
        <h5>C++</h5>
        <p>C++ é uma linguagem de programação open source orientada a objetos, utilizada tanto como linguagem de máquina quanto para softwares empresariais, acadêmicos, jogos, edição de imagens, fotos e vídeos.</p>
        <h5>C#</h5>
        <p>A linguagem C# foi influenciada por várias linguagens, como por exemplo, JAVA e C++. Na verdade, ela é uma junção das principais vantagens dentre essas linguagens, melhorando suas implementações e adicionando novos recursos.</p>
      </div>
    </div>
  </div>
</div>
