<div class="footer">


  <div class="footer-line">
  <div class="footer-container">

  <div class="footer-copyright">
    <img src="https://res.cloudinary.com/fbzsaullo/image/upload/v1654778164/The%20Hat/the-hat_tt3hs4.png">
  </div>
  <div>
  <p>Criado durante o Bootcamp Le Wagon</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/fbzsaullo/the-hat" target="blank"><i class="fab fa-github"></i></a>
  </div>

  </div>

</div>
