<div class="footer">
  <div class="footer-name">
    THE HAT
  </div>
  <div class="footer-copyright">
    Harry Potter and Fantastic Beasts characters, names and related indicia and trademarks of and © Warner Bros. Entertainment Inc. All Rights Reserved.
  </div>
</div>
