<div class="banner">

  <div class="container">
    <div class="row">

      <div  class="col-8 col-sm-12 col-lg-8">
        <h1>Seu teste vocacional <strong>definitivo</strong> para <strong>programação</strong>!</h1>
      </div>

      <div class="col-7 col-sm-12 col-lg-7">
        <p>Decidir por qual linguagem de programação começar a estudar pode ser bem difícil e consumir muito tempo, já que há muitas opções, além de muita informação conflitante.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-sm-12 main-black">
        <%= link_to "Iniciar teste", "#", class: "black-wizard" %>
      </div>
    </div>

  </div>
</div>

<div class="container">

    <div class="card-product-home row">
      <%= image_tag "Group7.png", class:"col-12 col-md-5 mx-auto" %>
      <div class="card-product-infos-home col-12 col-md-7 mx-auto">
        <h2>Lorem ipsum dolor sit<br>amet elit</h2>
        <p>Deciding on a programming language can be extremely challenging and time-consuming as there are dozens of options out there, with a lot of conflicting information.</p>
      </div>
    </div>

</div>

<div class="container">
  <div class="card-product-home row d-flex justify-content-between">
    <div class="card-product-infos-home col-md-6">
      <h2>Você sabe o que quer desenvolver?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <%= link_to "Iniciar teste", "#", class: "black-wizard col-md-4 text-center" %>
  </div>
</div>
