<div class="banner">

  <div class="banner-container">
    <div class="row">

      <div  class="col-8 col-sm-12 col-lg-8">
        <h1>Pra quem quer ir além do "Hello World".</h1>
      </div>

      <div class="col-7 col-sm-12 col-lg-7">
        <p>O The Hat é seu teste definitivo. Preparado pra sair do tutorial? </p>
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-sm-12 main-black">
        <%= link_to "Iniciar teste", questions_path, class: "black-wizard" %>
      </div>
    </div>

  </div>
</div>

<div class="container">

    <div class="card-product-home row">
      <%= image_tag "Group7.png", class:"col-12 col-md-5 mx-auto" %>
      <div class="card-product-infos-home col-12 col-md-7 mx-auto">
        <h2>Encontre uma Comunidade</h2>
        <p>Decidir por qual linguagem de programação começar a estudar pode ser bem difícil e consumir muito tempo, já que há muitas opções, além de muita informação conflitante.</p>
      </div>
    </div>

</div>

<div class="container">
  <div class="card-product-home row d-flex justify-content-between">
    <div class="card-product-infos-home col-md-6">
      <h2>Você sabe o que quer desenvolver?</h2>
      <p>Uma dos principais pontos de partida para decidir por onde começar é definir <strong>o que você quer desenvolver</strong>.</p>
    </div>
    <%= link_to "Descubra", questions_path, class: "black-wizard col-md-4 text-center" %>
  </div>
</div>
