<div class="banner">

  <div class="container">
    <h1>Seu teste vocacional <strong>definitivo</strong> para <strong>programação</strong>!</h1>
    <p>Decidir por qual linguagem de programação começar a estudar pode ser bem difícil e consumir muito tempo, já que há muitas opções, além de muita informação conflitante.</p>
    <%= link_to "Iniciar teste", "#", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="card-product-home">
    <%= image_tag "image2.png" %>
    <div class="card-product-infos-home">
      <h2>Lorem ipsum dolor sit amet elit</h2>
      <p>Deciding on a programming language can be extremely challenging and time-consuming as there are dozens of options out there, with a lot of conflicting information.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-product-home">
    <div class="card-product-infos-home">
      <h2>Você sabe o que quer desenvolver?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    </div>
    <%= link_to "Iniciar teste", "#", class: "btn btn-flat" %>
  </div>
</div>
