.white-wizard{
  font-size: 14px;
  text-transform: uppercase;
  color: $color1;
  padding: 11px 52px;
  background-color: $color5;
  border-radius: 0;
}

.black-wizard{
  font-size: 14px;
  text-transform: uppercase;
  color: $color5;
  padding: 28px 97px 30px 97px;
  background-color: $color1;
}
