// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #161930;
}

.user_name{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_email{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_password{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_password_confirmation{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_current_password{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.generic-link{
 color: $color5;
 text-decoration: none;
 &:hover {
  color:$color5;
}
}
