// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #161930;
}

.user_name{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_email{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_password{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

.user_password_confirmation{
  display: flex;
  flex-direction: column-reverse;
  text-transform: lowercase;
  font-size: 12px;
}

#main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
